openapi: 3.1.0
info:
  version: 1.0.0
  title: The Mighty Networks Admin AbuseReports Options API
  description: An API for managing your Mighty Networks network
servers:
- url: https://api.mn.co
  description: Production
security:
- bearerAuth: []
tags:
- name: Options
  description: Manage dropdown custom field options
paths:
  /admin/v1/networks/{network_id}/custom_fields/{custom_field_id}/options:
    get:
      summary: Return all options for a custom field
      operationId: list_options
      tags:
      - Options
      parameters:
      - name: custom_field_id
        in: path
        required: true
        description: ID of the custom field
        schema:
          type: integer
          format: uint64
      - name: term
        in: query
        required: false
        description: Search term to filter options by title
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: Page number for pagination
        schema:
          type: integer
          format: uint64
      - name: per_page
        in: query
        required: false
        description: Items per page (max 100)
        schema:
          type: integer
          format: uint64
      - $ref: '#/components/parameters/networkId'
      responses:
        '200':
          description: A paginated set of custom field option objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldOptionResponsePaged'
    post:
      summary: Create a new option for a custom field
      operationId: create_options
      tags:
      - Options
      parameters:
      - name: custom_field_id
        in: path
        required: true
        description: ID of the custom field
        schema:
          type: integer
          format: uint64
      - $ref: '#/components/parameters/networkId'
      requestBody:
        description: Submit results as JSON
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldOptionRequest'
      responses:
        '201':
          description: The created custom field option object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldOptionResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/networks/{network_id}/custom_fields/{custom_field_id}/options/{id}/:
    get:
      summary: Return a single option by ID
      operationId: show_option
      tags:
      - Options
      parameters:
      - name: custom_field_id
        in: path
        required: true
        description: ID of the custom field
        schema:
          type: integer
          format: uint64
      - name: id
        in: path
        required: true
        description: ID of the option
        schema:
          type: integer
          format: uint64
      - $ref: '#/components/parameters/networkId'
      responses:
        '200':
          description: A custom field option object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldOptionResponse'
        '404':
          description: Option not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Update an option
      operationId: update_options
      tags:
      - Options
      parameters:
      - name: custom_field_id
        in: path
        required: true
        description: ID of the custom field
        schema:
          type: integer
          format: uint64
      - name: id
        in: path
        required: true
        description: ID of the option
        schema:
          type: integer
          format: uint64
      - $ref: '#/components/parameters/networkId'
      requestBody:
        description: Submit results as JSON
        required: true
        content:
          application/json:
            schema:
              description: Request body for updating a custom field option
              type: object
              properties:
                title:
                  type: string
                  description: The title of the option
                  example: Blue
                description:
                  type: string
                  description: Description of the option
                  example: Select this if blue is your favorite color
      responses:
        '200':
          description: The updated custom field option object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldOptionResponse'
        '404':
          description: Option not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update an option
      operationId: replace_options
      tags:
      - Options
      parameters:
      - name: custom_field_id
        in: path
        required: true
        description: ID of the custom field
        schema:
          type: integer
          format: uint64
      - name: id
        in: path
        required: true
        description: ID of the option
        schema:
          type: integer
          format: uint64
      - $ref: '#/components/parameters/networkId'
      requestBody:
        description: Submit results as JSON
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldOptionUpdateRequest'
      responses:
        '200':
          description: The updated custom field option object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldOptionResponse'
        '404':
          description: Option not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Delete an option
      operationId: delete_options
      tags:
      - Options
      parameters:
      - name: custom_field_id
        in: path
        required: true
        description: ID of the custom field
        schema:
          type: integer
          format: uint64
      - name: id
        in: path
        required: true
        description: ID of the option
        schema:
          type: integer
          format: uint64
      - $ref: '#/components/parameters/networkId'
      responses:
        '204':
          description: Option deleted successfully
        '404':
          description: Option not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  parameters:
    networkId:
      name: network_id
      in: path
      description: The Network's unique integer ID, or subdomain
      required: true
      schema:
        oneOf:
        - type: integer
          description: Unique numeric network ID
          format: uint64
        - type: string
          description: Network subdomain
          format: /^[a-z][a-z0-9-]+$/
  schemas:
    CustomFieldOptionUpdateRequest:
      description: Request body for updating a custom field option
      type: object
      required: []
      properties:
        title:
          type: string
          description: The title of the option
          example: Blue
        description:
          type: string
          description: Description of the option
          example: Select this if blue is your favorite color
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          type: string
          description: An error message explaining the problem encountered
    CustomFieldOptionRequest:
      description: Request body for creating a custom field option
      type: object
      required:
      - title
      properties:
        title:
          type: string
          description: The title of the option
          example: Blue
        description:
          type: string
          description: Description of the option
          example: Select this if blue is your favorite color
    CustomFieldOptionResponse:
      description: Custom field options are the selectable values for dropdown custom fields
      type: object
      required:
      - created_at
      - creator_id
      - custom_field_id
      - id
      - is_ad_hoc
      - member_count
      - title
      - updated_at
      properties:
        id:
          type: integer
          format: uint64
          description: The record's integer ID
          example: '1234'
        created_at:
          type: string
          format: date-time
          description: The date and time the record was created
          example: '2026-07-05T21:11:41+00:00'
        updated_at:
          type: string
          format: date-time
          description: The date and time the record was last modified
          example: '2026-07-05T21:11:41+00:00'
        title:
          type: string
          description: The title of the option
          example: Blue
        description:
          type: string
          description: The description of the option
          example: Select this if blue is your favorite color
        custom_field_id:
          type: integer
          format: uint64
          description: The ID of the custom field this option belongs to
        member_count:
          type: integer
          format: uint64
          description: The number of members who have selected this option
        is_ad_hoc:
          type: boolean
          description: Whether this option was created by a member (ad-hoc) or by a host
        creator_id:
          type: integer
          format: uint64
          description: The ID of the member who created this option
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
