openapi: 3.1.0
info:
  version: 1.0.0
  title: The Mighty Networks Admin AbuseReports Rsvps API
  description: An API for managing your Mighty Networks network
servers:
- url: https://api.mn.co
  description: Production
security:
- bearerAuth: []
tags:
- name: Rsvps
  description: Manage event RSVPs for your network
paths:
  /admin/v1/networks/{network_id}/events/{event_id}/rsvps:
    get:
      summary: List RSVPs for an event
      operationId: list_rsvps
      tags:
      - Rsvps
      parameters:
      - name: event_id
        in: path
        required: true
        description: ID of the event
        schema:
          type: integer
          format: uint64
      - name: instance_at
        in: query
        required: false
        description: Filter RSVPs for a specific recurring event instance
        schema:
          type: string
          format: date-time
      - name: page
        in: query
        required: false
        description: Page number for pagination
        schema:
          type: integer
          format: uint64
      - name: per_page
        in: query
        required: false
        description: Items per page (max 100)
        schema:
          type: integer
          format: uint64
      - $ref: '#/components/parameters/networkId'
      responses:
        '200':
          description: A paginated set of RSVP objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RsvpResponsePaged'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create or update an RSVP for an event
      operationId: create_rsvps
      tags:
      - Rsvps
      parameters:
      - name: event_id
        in: path
        required: true
        description: ID of the event
        schema:
          type: integer
          format: uint64
      - $ref: '#/components/parameters/networkId'
      requestBody:
        description: Submit results as JSON
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RsvpRequest'
      responses:
        '200':
          description: The created or updated RSVP object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RsvpResponse'
        '403':
          description: Member is not in this network
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Event or member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid RSVP status or instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/networks/{network_id}/events/{event_id}/rsvps/{id}/:
    get:
      summary: Get a specific RSVP by ID
      operationId: show_rsvp
      tags:
      - Rsvps
      parameters:
      - name: event_id
        in: path
        required: true
        description: ID of the event
        schema:
          type: integer
          format: uint64
      - name: id
        in: path
        required: true
        description: ID of the RSVP
        schema:
          type: integer
          format: uint64
      - $ref: '#/components/parameters/networkId'
      responses:
        '200':
          description: An RSVP object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RsvpResponse'
        '404':
          description: RSVP not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Update an existing RSVP
      operationId: update_rsvps
      tags:
      - Rsvps
      parameters:
      - name: event_id
        in: path
        required: true
        description: ID of the event
        schema:
          type: integer
          format: uint64
      - name: id
        in: path
        required: true
        description: ID of the RSVP
        schema:
          type: integer
          format: uint64
      - $ref: '#/components/parameters/networkId'
      requestBody:
        description: Submit results as JSON
        required: true
        content:
          application/json:
            schema:
              description: Request to create or update an RSVP
              type: object
              properties:
                member_id:
                  type: integer
                  format: uint64
                  description: The ID of the member to RSVP on behalf of
                  example: 123
                status:
                  type: string
                  description: 'The RSVP status. Must be one of: yes, maybe, no'
                  example: 'yes'
                instance_at:
                  type: string
                  format: date-time
                  description: The specific event instance for recurring events (ISO8601 format)
                  example: '2025-03-15T14:00:00Z'
      responses:
        '200':
          description: The updated RSVP object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RsvpResponse'
        '403':
          description: Member is not in this network or RSVP cannot be updated due to event settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: RSVP or member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid RSVP status or instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update an existing RSVP
      operationId: replace_rsvps
      tags:
      - Rsvps
      parameters:
      - name: event_id
        in: path
        required: true
        description: ID of the event
        schema:
          type: integer
          format: uint64
      - name: id
        in: path
        required: true
        description: ID of the RSVP
        schema:
          type: integer
          format: uint64
      - $ref: '#/components/parameters/networkId'
      requestBody:
        description: Submit results as JSON
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RsvpRequest'
      responses:
        '200':
          description: The updated RSVP object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RsvpResponse'
        '403':
          description: Member is not in this network or RSVP cannot be updated due to event settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: RSVP or member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid RSVP status or instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Delete an RSVP
      operationId: delete_rsvps
      tags:
      - Rsvps
      parameters:
      - name: event_id
        in: path
        required: true
        description: ID of the event
        schema:
          type: integer
          format: uint64
      - name: id
        in: path
        required: true
        description: ID of the RSVP
        schema:
          type: integer
          format: uint64
      - $ref: '#/components/parameters/networkId'
      responses:
        '204':
          description: RSVP successfully deleted
        '404':
          description: RSVP not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    SpaceResponse:
      type: object
      required:
      - created_at
      - id
      - name
      - updated_at
      properties:
        id:
          type: integer
          format: uint64
          description: The record's integer ID
          example: '1234'
        created_at:
          type: string
          format: date-time
          description: The date and time the record was created
          example: '2026-07-05T21:11:41+00:00'
        updated_at:
          type: string
          format: date-time
          description: The date and time the record was last modified
          example: '2026-07-05T21:11:41+00:00'
        name:
          type: string
          description: The Space's name
        collection_id:
          type: integer
          format: uint64
          description: The ID of the collection this space belongs to
    RsvpResponse:
      description: An RSVP for an event
      type: object
      required:
      - event
      - id
      - member
      - status
      - updated
      properties:
        id:
          type: integer
          format: uint64
          description: The record's integer ID
          example: '1234'
        updated:
          type: string
          format: date-time
          description: The last updated timestamp
          example: '2026-07-05T21:11:42+00:00'
        status:
          type: string
          description: 'The RSVP status: yes, maybe, or no'
        event:
          description: The event being RSVPed to
          $ref: '#/components/schemas/EventCreatePayload'
        member:
          description: The member who set the RSVP
          $ref: '#/components/schemas/MemberResponse'
        event_instance:
          description: The specific event instance for recurring events
          $ref: '#/components/schemas/EventInstanceResponse'
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          type: string
          description: An error message explaining the problem encountered
    EventInstanceResponse:
      description: A specific instance of a recurring event
      type: object
      required:
      - ends_at
      - instance_index
      - post_id
      - starts_at
      properties:
        post_id:
          type: integer
          format: uint64
          description: The ID of the recurring event post
        starts_at:
          type: string
          format: date-time
          description: Start time of this specific instance
          example: '2026-07-05T21:11:42+00:00'
        ends_at:
          type: string
          format: date-time
          description: End time of this specific instance
          example: '2026-07-05T21:11:42+00:00'
        instance_index:
          type: integer
          format: uint64
          description: The index of this instance in the recurrence series
    MemberResponse:
      description: A member of a network
      type: object
      required:
      - created_at
      - email
      - id
      - member_type
      - permalink
      - updated_at
      properties:
        id:
          type: integer
          format: uint64
          description: The record's integer ID
          example: '1234'
        created_at:
          type: string
          format: date-time
          description: The date and time the record was created
          example: '2026-07-05T21:11:41+00:00'
        updated_at:
          type: string
          format: date-time
          description: The date and time the record was last modified
          example: '2026-07-05T21:11:41+00:00'
        email:
          type: string
          format: email
          description: The member's email address
          example: ada.lovelace@example.com
        member_type:
          type: string
          description: 'The member''s type: ''full'' (belongs to the network) or ''limited'' (belongs only to specific spaces)'
        first_name:
          type: string
          description: The member's first name
        last_name:
          type: string
          description: The member's last name
        time_zone:
          type: string
          description: The member's time zone
        location:
          type: string
          description: The member's location
        bio:
          type: string
          description: The member's bio
        referral_count:
          type: integer
          format: uint64
          description: Number of referrals made by this member
        avatar:
          type: string
          description: URL to the member's avatar image
        categories:
          type: string
          description: Array of category objects with id and title
        permalink:
          type: string
          description: Canonical URL to the member's profile page
        ambassador_level:
          type: string
          description: The member's ambassador level
    RsvpRequest:
      description: Request to create or update an RSVP
      type: object
      required:
      - member_id
      - status
      properties:
        member_id:
          type: integer
          format: uint64
          description: The ID of the member to RSVP on behalf of
          example: 123
        status:
          type: string
          description: 'The RSVP status. Must be one of: yes, maybe, no'
          example: 'yes'
        instance_at:
          type: string
          format: date-time
          description: The specific event instance for recurring events (ISO8601 format)
          example: '2025-03-15T14:00:00Z'
    EventCreatePayload:
      description: Payload sent when an event is created
      type: object
      required:
      - created_at
      - creator
      - creator_id
      - event_type
      - id
      - permalink
      - post_in_feed
      - post_type
      - restricted_event
      - rsvp_closed
      - rsvp_enabled
      - space
      - space_id
      - starts_at
      - summary
      - time_zone
      - title
      - updated_at
      properties:
        id:
          type: integer
          format: uint64
          description: The record's integer ID
          example: '1234'
        created_at:
          type: string
          format: date-time
          description: The date and time the record was created
          example: '2026-07-05T21:11:41+00:00'
        updated_at:
          type: string
          format: date-time
          description: The date and time the record was last modified
          example: '2026-07-05T21:11:41+00:00'
        post_type:
          type: string
          description: The type of post (always 'event' for this hook)
        space_id:
          type: integer
          format: uint64
          description: The ID of the space where the event was created
        creator_id:
          type: integer
          format: uint64
          description: The ID of the user who created the event
        title:
          type: string
          description: The title of the event
        summary:
          type: string
          description: The description/summary of the event
        event_type:
          type: string
          description: 'The type of event. Possible values: local, live_chat, online_meeting, zoom_meeting, zoom_webinar, webinar, local_meetup'
        starts_at:
          type: string
          description: Event start time in ISO 8601 format
        ends_at:
          type: string
          description: Event end time in ISO 8601 format
        time_zone:
          type: string
          description: The time zone of the event
        location:
          type: string
          description: The location of the event
        frequency:
          type: string
          description: 'Recurrence frequency: ''daily'', ''weekly'', ''monthly'', or ''yearly'''
        interval:
          type: integer
          format: uint64
          description: Recurrence interval (e.g., 1 for every week, 2 for every 2 weeks)
        rsvp_enabled:
          type: boolean
          description: Whether RSVPs are enabled for this event
        rsvp_closed:
          type: boolean
          description: Whether RSVPs are closed/locked
        restricted_event:
          type: boolean
          description: Whether the event is restricted
        post_in_feed:
          type: boolean
          description: Whether the event is visible in the feed
        creator:
          description: The member who created the event
          $ref: '#/components/schemas/MemberResponse'
        space:
          description: The space where the event was created
          $ref: '#/components/schemas/SpaceResponse'
        images:
          type: array
          description: Array of image URLs
          items:
            type: string
        permalink:
          type: string
          description: Canonical URL to the event
  parameters:
    networkId:
      name: network_id
      in: path
      description: The Network's unique integer ID, or subdomain
      required: true
      schema:
        oneOf:
        - type: integer
          description: Unique numeric network ID
          format: uint64
        - type: string
          description: Network subdomain
          format: /^[a-z][a-z0-9-]+$/
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
