openapi: 3.1.0
info:
  version: 1.0.0
  title: The Mighty Networks Admin AbuseReports Me API
  description: An API for managing your Mighty Networks network
servers:
- url: https://api.mn.co
  description: Production
security:
- bearerAuth: []
tags:
- name: Me
  description: Metadata about the requesting user
paths:
  /admin/v1/networks/{network_id}/me:
    get:
      summary: Return information about the authenticated access token
      operationId: show_me
      tags:
      - Me
      parameters:
      - $ref: '#/components/parameters/networkId'
      responses:
        '200':
          description: Returns a description of the currently authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
components:
  parameters:
    networkId:
      name: network_id
      in: path
      description: The Network's unique integer ID, or subdomain
      required: true
      schema:
        oneOf:
        - type: integer
          description: Unique numeric network ID
          format: uint64
        - type: string
          description: Network subdomain
          format: /^[a-z][a-z0-9-]+$/
  schemas:
    UserResponse:
      type: object
      required:
      - admin
      - created_at
      - email
      - id
      - name
      - short_bio
      - updated_at
      properties:
        id:
          type: integer
          format: uint64
          description: The record's integer ID
          example: '1234'
        created_at:
          type: string
          format: date-time
          description: The date and time the record was created
          example: '2026-07-05T21:11:41+00:00'
        updated_at:
          type: string
          format: date-time
          description: The date and time the record was last modified
          example: '2026-07-05T21:11:41+00:00'
        name:
          type: string
          description: The user's full name
        email:
          type: string
          format: email
          description: The user's email address
          example: ada.lovelace@example.com
        short_bio:
          type: string
          description: A short biography of the user
        admin:
          type: boolean
          description: Whether or not the user is an admin of the network
    NetworkResponse:
      description: Networks are the main organizational unit within Mighty, and house all other objects
      type: object
      required:
      - created_at
      - description
      - id
      - purpose
      - subdomain
      - subtitle
      - title
      - updated_at
      properties:
        id:
          type: integer
          format: uint64
          description: The record's integer ID
          example: '1234'
        created_at:
          type: string
          format: date-time
          description: The date and time the record was created
          example: '2026-07-05T21:11:41+00:00'
        updated_at:
          type: string
          format: date-time
          description: The date and time the record was last modified
          example: '2026-07-05T21:11:41+00:00'
        subdomain:
          type: string
          description: The network subdomain
          example: paint-pals
        title:
          type: string
          description: The network title
          example: The Paint Pals Network
        subtitle:
          type: string
          description: The network subtitle
          example: A network for artists to share and collaborate
        purpose:
          type: string
          description: The network purpose
          example: Bring together artists interested in sharing their work and inspiring others
        description:
          type: string
          description: The network description
          example: A great network
    MeResponse:
      description: Details of the currently requesting authorization context
      type: object
      required:
      - network
      - user
      properties:
        user:
          description: The authenticated user
          $ref: '#/components/schemas/UserResponse'
        network:
          description: The authenticated network
          $ref: '#/components/schemas/NetworkResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
