{"openapi":"3.1.0","info":{"version":"1.0.0","title":"The Mighty Networks Admin API","description":"An API for managing your Mighty Networks network"},"servers":[{"url":"https://api.mn.co","description":"Production"}],"tags":[{"name":"Members","description":"Manage members of your network"},{"name":"Courseworks","description":"Manage course content (lessons, quizzes, sections)"},{"name":"Reactions","description":"Manage reactions on comments"},{"name":"Mute","description":"Mute posts for users"},{"name":"Comments","description":"Manage comments on posts"},{"name":"Invites","description":"Invites allow you to invite users to your network"},{"name":"Tags","description":"Manage tags for your network"},{"name":"Spaces","description":"Spaces are the organizational units within a Network where content and members are organized"},{"name":"Plans","description":"Manage plans in your network"},{"name":"PasswordResets","description":"Manage member password resets"},{"name":"Badges","description":"Manage badges for your network"},{"name":"Rsvps","description":"Manage event RSVPs for your network"},{"name":"Options","description":"Manage dropdown custom field options"},{"name":"Answers","description":"Manage member responses to custom fields"},{"name":"Subscriptions","description":"Manage payment subscriptions - recurring payments from members to hosts for plans"},{"name":"Purchases","description":"Manage purchases and subscriptions for your network"},{"name":"Posts","description":"Posts also include Articles."},{"name":"Polls","description":"Polls and Questions allow members to share opinions and engage with each other"},{"name":"Networks","description":"Networks are the top-level organizational unit under which other resources are nested"},{"name":"Me","description":"Metadata about the requesting user"},{"name":"Events","description":"Events are scheduled gatherings that members can RSVP to and engage with"},{"name":"CustomFields","description":"Manage custom fields for your network"},{"name":"Collections","description":"Manage collections in your network"},{"name":"Assets","description":"Manage assets for your network"},{"name":"AbuseReports","description":"Manage abuse reports for your network"}],"paths":{"/admin/v1/networks/{network_id}/spaces/{space_id}/members":{"get":{"summary":"Return members of the given space","operationId":"list_members","tags":["Members"],"parameters":[{"name":"space_id","in":"path","required":true,"description":"ID of the space","schema":{"type":"integer","format":"uint64"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of member objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponsePaged"}}}},"404":{"description":"Space not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"summary":"Add a user as a member to the space","operationId":"create_members","tags":["Members"],"parameters":[{"name":"space_id","in":"path","required":true,"description":"ID of the space","schema":{"type":"integer","format":"uint64"}},{"name":"user_id","in":"query","required":true,"description":"ID of the user to add","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"The newly created member object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"404":{"description":"User or space not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error (e.g., user already a member)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/spaces/{space_id}/members/{user_id}/":{"get":{"summary":"Return a single member by user ID","operationId":"show_member","tags":["Members"],"parameters":[{"name":"space_id","in":"path","required":true,"description":"ID of the space","schema":{"type":"integer","format":"uint64"}},{"name":"user_id","in":"path","required":true,"description":"ID of the user","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A member object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"404":{"description":"Member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"summary":"Update a member's role in the space","operationId":"update_members","tags":["Members"],"parameters":[{"name":"space_id","in":"path","required":true,"description":"ID of the space","schema":{"type":"integer","format":"uint64"}},{"name":"user_id","in":"path","required":true,"description":"ID of the user","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"description":"Request body for updating a member's role and profile information","type":"object","properties":{"role":{"type":"string","description":"New role for the member (host, moderator, contributor)","example":"moderator"},"email":{"type":"string","format":"email","description":"New email address for the member","example":"newemail@example.com"},"first_name":{"type":"string","description":"New first name for the member","example":"Jane"},"last_name":{"type":"string","description":"New last name for the member","example":"Smith"}}}}}},"responses":{"200":{"description":"The updated member object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"404":{"description":"Member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid role value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"summary":"Update a member's role in the space","operationId":"replace_members","tags":["Members"],"parameters":[{"name":"space_id","in":"path","required":true,"description":"ID of the space","schema":{"type":"integer","format":"uint64"}},{"name":"user_id","in":"path","required":true,"description":"ID of the user","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberUpdateRequest"}}}},"responses":{"200":{"description":"The updated member object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"404":{"description":"Member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid role value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Remove a member from the space","operationId":"delete_members","tags":["Members"],"parameters":[{"name":"space_id","in":"path","required":true,"description":"ID of the space","schema":{"type":"integer","format":"uint64"}},{"name":"user_id","in":"path","required":true,"description":"ID of the user to remove","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"User successfully removed from space (returns empty object)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}},"403":{"description":"Member cannot be removed while they hold a paid plan in this space","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/spaces/{space_id}/members/{user_id}/ban":{"post":{"summary":"Ban a user from the network","operationId":"create_members","tags":["Members"],"parameters":[{"name":"space_id","in":"path","required":true,"description":"ID of the space","schema":{"type":"integer","format":"uint64"}},{"name":"user_id","in":"path","required":true,"description":"ID of the user to ban","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BanRequest"}}}},"responses":{"200":{"description":"User successfully banned (returns empty object)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/spaces/{space_id}/courseworks":{"get":{"summary":"Returns a list of coursework items for the given space (course)","operationId":"list_courseworks","tags":["Courseworks"],"parameters":[{"name":"space_id","in":"path","required":true,"description":"The ID of the course (space) to fetch coursework from","schema":{"type":"integer","format":"uint64"}},{"name":"type","in":"query","required":false,"description":"Filter by coursework type (lesson, quiz, section, overview)","schema":{"type":"string"}},{"name":"parent_id","in":"query","required":false,"description":"Filter by parent coursework ID","schema":{"type":"integer","format":"uint64"}},{"name":"status","in":"query","required":false,"description":"Filter by visibility status (posted, hidden, pending)","schema":{"type":"string"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of coursework items","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseworkResponsePaged"}}}},"404":{"description":"Space not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"summary":"Create a new coursework item (lesson, quiz, or section)","operationId":"create_courseworks","tags":["Courseworks"],"parameters":[{"name":"space_id","in":"path","required":true,"description":"The ID of the course (space) to create coursework in","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseworkRequest"}}}},"responses":{"201":{"description":"Returns the newly created coursework item","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseworkResponse"}}}},"404":{"description":"Space or parent not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid coursework data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/spaces/{space_id}/courseworks/{id}/":{"get":{"summary":"Returns a single coursework item by ID","operationId":"show_coursework","tags":["Courseworks"],"parameters":[{"name":"space_id","in":"path","required":true,"description":"The ID of the course (space)","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"The ID of the coursework item","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A coursework item","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseworkResponse"}}}},"404":{"description":"Coursework not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"summary":"Update an existing coursework item","operationId":"update_courseworks","tags":["Courseworks"],"parameters":[{"name":"space_id","in":"path","required":true,"description":"The ID of the course (space)","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"The ID of the coursework item to update","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"description":"Update fields for a coursework item","type":"object","properties":{"title":{"type":"string","description":"The title of the coursework item"},"description":{"type":"string","description":"The description/body content of the coursework item"},"status":{"type":"string","description":"The visibility status (posted, hidden, pending)"},"parent_id":{"type":"integer","format":"uint64","description":"Move to a new parent coursework item (section or overview)"},"completion_criteria":{"type":"string","description":"How completion is tracked (none, visited, button, video, minimum_correct_percentage)"},"unlocking_criteria":{"type":"string","description":"When content becomes available (none, sequential, time_from_course_join, scheduled_date)"}}}}}},"responses":{"200":{"description":"Returns the updated coursework item","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseworkResponse"}}}},"404":{"description":"Coursework not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid coursework data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"summary":"Update an existing coursework item","operationId":"replace_courseworks","tags":["Courseworks"],"parameters":[{"name":"space_id","in":"path","required":true,"description":"The ID of the course (space)","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"The ID of the coursework item to update","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseworkUpdateRequest"}}}},"responses":{"200":{"description":"Returns the updated coursework item","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseworkResponse"}}}},"404":{"description":"Coursework not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid coursework data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Delete a coursework item","operationId":"delete_courseworks","tags":["Courseworks"],"parameters":[{"name":"space_id","in":"path","required":true,"description":"The ID of the course (space)","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"The ID of the coursework item to delete","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Coursework successfully deleted"},"404":{"description":"Coursework not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/posts/{post_id}/reactions":{"get":{"summary":"Returns a list of reactions for a specific post","operationId":"list_reactions","tags":["Reactions"],"parameters":[{"name":"post_id","in":"path","required":true,"description":"The ID of the post","schema":{"type":"integer","format":"uint64"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of reaction objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReactionResponsePaged"}}}},"404":{"description":"Post not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"summary":"Create a new reaction on a post","operationId":"create_reactions","tags":["Reactions"],"parameters":[{"name":"post_id","in":"path","required":true,"description":"The ID of the post","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReactionRequest"}}}},"responses":{"201":{"description":"Returns the newly created reaction on success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReactionResponse"}}}},"404":{"description":"Post not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid reaction data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Delete the reaction from a post","operationId":"delete_reactions","tags":["Reactions"],"parameters":[{"name":"post_id","in":"path","required":true,"description":"The ID of the post","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Reaction successfully deleted"},"404":{"description":"Post or reaction not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/posts/{post_id}/mute":{"post":{"summary":"Mute a post for a specific user (unfollow notifications)","operationId":"create_mute","tags":["Mute"],"parameters":[{"name":"post_id","in":"path","required":true,"description":"The ID of the post","schema":{"type":"integer","format":"uint64"}},{"name":"user_id","in":"query","required":true,"description":"The ID of the user to mute the post for","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Post successfully muted for the user"},"404":{"description":"Post or user not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Unmute a post for a specific user (refollow notifications)","operationId":"delete_mute","tags":["Mute"],"parameters":[{"name":"post_id","in":"path","required":true,"description":"The ID of the post","schema":{"type":"integer","format":"uint64"}},{"name":"user_id","in":"query","required":true,"description":"The ID of the user to unmute the post for","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Post successfully unmuted for the user"},"404":{"description":"Post or user not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/posts/{post_id}/comments":{"get":{"summary":"Returns a list of comments for a specific post","operationId":"list_comments","tags":["Comments"],"parameters":[{"name":"post_id","in":"path","required":true,"description":"The ID of the post","schema":{"type":"integer","format":"uint64"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of comment objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentResponsePaged"}}}},"404":{"description":"Post not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"summary":"Create a new comment on a post","operationId":"create_comments","tags":["Comments"],"parameters":[{"name":"post_id","in":"path","required":true,"description":"The ID of the post","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentRequest"}}}},"responses":{"201":{"description":"Returns the newly created comment on success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentResponse"}}}},"404":{"description":"Post not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid comment data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/posts/{post_id}/comments/{id}/":{"get":{"summary":"Query details of a specific comment by its ID","operationId":"show_comment","tags":["Comments"],"parameters":[{"name":"post_id","in":"path","required":true,"description":"The ID of the post","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"The ID of the comment","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"Details about the requested comment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentResponse"}}}},"404":{"description":"Post or comment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Delete a comment from a post","operationId":"delete_comments","tags":["Comments"],"parameters":[{"name":"post_id","in":"path","required":true,"description":"The ID of the post","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"The ID of the comment to delete","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Comment successfully deleted"},"404":{"description":"Post or comment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/plans/{plan_id}/members":{"get":{"summary":"Return members of the given plan","operationId":"list_members","tags":["Members"],"parameters":[{"name":"plan_id","in":"path","required":true,"description":"The ID of the plan","schema":{"type":"integer","format":"uint64"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of member objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponsePaged"}}}},"404":{"description":"Plan not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"summary":"Add a member directly to a free/nonpaid plan, granting them access\n\nThe member will be granted access immediately; no invite is sent.\n","operationId":"create_members","tags":["Members"],"parameters":[{"name":"plan_id","in":"path","required":true,"description":"The ID of the plan","schema":{"type":"integer","format":"uint64"}},{"name":"user_id","in":"query","required":false,"description":"The user ID to add","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"The plan object with the member added","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanResponse"}}}},"404":{"description":"Plan or user not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid parameters or user already has access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/plans/{plan_id}/members/{member_id}/":{"get":{"summary":"Return a single member by member ID","operationId":"show_member","tags":["Members"],"parameters":[{"name":"plan_id","in":"path","required":true,"description":"The ID of the plan","schema":{"type":"integer","format":"uint64"}},{"name":"member_id","in":"path","required":true,"description":"The ID of the member","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A member object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"404":{"description":"Member not found or does not have access to this plan","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/plans/{plan_id}/invites":{"get":{"summary":"Return all invites for the given plan","operationId":"list_invites","tags":["Invites"],"parameters":[{"name":"plan_id","in":"path","required":true,"description":"The ID of the plan","schema":{"type":"integer","format":"uint64"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of invite objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteResponsePaged"}}}},"404":{"description":"Plan not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"summary":"Create an invite to a plan","operationId":"create_invites","tags":["Invites"],"parameters":[{"name":"plan_id","in":"path","required":true,"description":"The ID of the plan to invite to","schema":{"type":"integer","format":"uint64"}},{"name":"email","in":"query","required":false,"description":"The email address to invite","schema":{"type":"string"}},{"name":"user_id","in":"query","required":false,"description":"The user ID to invite","schema":{"type":"integer","format":"uint64"}},{"name":"message","in":"query","required":false,"description":"Optional invite message","schema":{"type":"string"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"The created invite","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteResponse"}}}},"404":{"description":"Plan not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid invite parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/plans/{plan_id}/invites/{id}/":{"get":{"summary":"Return a single invite by ID","operationId":"show_invite","tags":["Invites"],"parameters":[{"name":"plan_id","in":"path","required":true,"description":"The ID of the plan","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"The ID of the invite","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"An invite object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteResponse"}}}},"404":{"description":"Invite not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"summary":"Resend an existing invite","operationId":"update_invites","tags":["Invites"],"parameters":[{"name":"plan_id","in":"path","required":true,"description":"The ID of the plan","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"The ID of the invite to resend","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"The updated invite","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteResponse"}}}},"404":{"description":"Invite not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid invite (e.g., already converted)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"summary":"Resend an existing invite","operationId":"replace_invites","tags":["Invites"],"parameters":[{"name":"plan_id","in":"path","required":true,"description":"The ID of the plan","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"The ID of the invite to resend","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"The updated invite","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteResponse"}}}},"404":{"description":"Invite not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid invite (e.g., already converted)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Revoke an unaccepted invite","operationId":"delete_invites","tags":["Invites"],"parameters":[{"name":"plan_id","in":"path","required":true,"description":"The ID of the plan","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"The ID of the invite to revoke","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Returns a 204 No-Content on success, with no response body"},"404":{"description":"Invite not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Returns a 409 Conflict when the invite has already been accepted. To revoke access to an invited member, use the Plan Members API","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/members/{member_id}/tags":{"get":{"summary":"Return tags for the given member","operationId":"list_tags","tags":["Tags"],"parameters":[{"name":"member_id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of tag objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagResponsePaged"}}}},"404":{"description":"Member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"summary":"Add a tag to a member","operationId":"create_tags","tags":["Tags"],"parameters":[{"name":"member_id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberTagAddRequest"}}}},"responses":{"200":{"description":"The tag that was added to the member","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagResponse"}}}},"404":{"description":"Member or tag not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/members/{member_id}/tags/{tag_id}/":{"get":{"summary":"Return a single tag by ID for the given member","operationId":"show_tag","tags":["Tags"],"parameters":[{"name":"member_id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"name":"tag_id","in":"path","required":true,"description":"ID of the tag","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A tag object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagResponse"}}}},"404":{"description":"Member or tag not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Remove a tag from a member","operationId":"delete_tags","tags":["Tags"],"parameters":[{"name":"member_id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"name":"tag_id","in":"path","required":true,"description":"ID of the tag to remove","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Tag successfully removed from member"},"404":{"description":"member or tag not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/members/{member_id}/spaces":{"get":{"summary":"Return spaces for a given member","operationId":"list_spaces","tags":["Spaces"],"parameters":[{"name":"member_id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of spaces","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceResponsePaged"}}}},"404":{"description":"Member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/members/{member_id}/plans":{"get":{"summary":"Return all plans that a member has access to","operationId":"list_plans","tags":["Plans"],"parameters":[{"name":"member_id","in":"path","required":true,"description":"The ID of the member","schema":{"type":"integer","format":"uint64"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of plan objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanResponsePaged"}}}},"404":{"description":"Member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/members/{member_id}/password_resets":{"post":{"summary":"Send a password reset email to a member","operationId":"create_password_resets","tags":["PasswordResets"],"parameters":[{"name":"member_id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Password reset email sent successfully"},"404":{"description":"Member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/members/{member_id}/badges":{"get":{"summary":"Return badges for the given member","operationId":"list_badges","tags":["Badges"],"parameters":[{"name":"member_id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of badge objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadgeResponsePaged"}}}},"404":{"description":"Member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"summary":"Add a badge to the given member","operationId":"create_badges","tags":["Badges"],"parameters":[{"name":"member_id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberBadgeRequest"}}}},"responses":{"201":{"description":"The badge was added successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadgeResponse"}}}},"404":{"description":"Member or badge not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/members/{member_id}/badges/{badge_id}/":{"get":{"summary":"Return a single badge by ID for the given member","operationId":"show_badge","tags":["Badges"],"parameters":[{"name":"member_id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"name":"badge_id","in":"path","required":true,"description":"ID of the badge","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A badge object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadgeResponse"}}}},"404":{"description":"Member or badge not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Remove a badge from the given member","operationId":"delete_badges","tags":["Badges"],"parameters":[{"name":"member_id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"name":"badge_id","in":"path","required":true,"description":"ID of the badge","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Badge removed successfully"},"404":{"description":"Member or badge not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/events/{event_id}/rsvps":{"get":{"summary":"List RSVPs for an event","operationId":"list_rsvps","tags":["Rsvps"],"parameters":[{"name":"event_id","in":"path","required":true,"description":"ID of the event","schema":{"type":"integer","format":"uint64"}},{"name":"instance_at","in":"query","required":false,"description":"Filter RSVPs for a specific recurring event instance","schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of RSVP objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RsvpResponsePaged"}}}},"404":{"description":"Event not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"summary":"Create or update an RSVP for an event","operationId":"create_rsvps","tags":["Rsvps"],"parameters":[{"name":"event_id","in":"path","required":true,"description":"ID of the event","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RsvpRequest"}}}},"responses":{"200":{"description":"The created or updated RSVP object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RsvpResponse"}}}},"403":{"description":"Member is not in this network","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Event or member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid RSVP status or instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/events/{event_id}/rsvps/{id}/":{"get":{"summary":"Get a specific RSVP by ID","operationId":"show_rsvp","tags":["Rsvps"],"parameters":[{"name":"event_id","in":"path","required":true,"description":"ID of the event","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"ID of the RSVP","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"An RSVP object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RsvpResponse"}}}},"404":{"description":"RSVP not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"summary":"Update an existing RSVP","operationId":"update_rsvps","tags":["Rsvps"],"parameters":[{"name":"event_id","in":"path","required":true,"description":"ID of the event","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"ID of the RSVP","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"description":"Request to create or update an RSVP","type":"object","properties":{"member_id":{"type":"integer","format":"uint64","description":"The ID of the member to RSVP on behalf of","example":123},"status":{"type":"string","description":"The RSVP status. Must be one of: yes, maybe, no","example":"yes"},"instance_at":{"type":"string","format":"date-time","description":"The specific event instance for recurring events (ISO8601 format)","example":"2025-03-15T14:00:00Z"}}}}}},"responses":{"200":{"description":"The updated RSVP object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RsvpResponse"}}}},"403":{"description":"Member is not in this network or RSVP cannot be updated due to event settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"RSVP or member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid RSVP status or instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"summary":"Update an existing RSVP","operationId":"replace_rsvps","tags":["Rsvps"],"parameters":[{"name":"event_id","in":"path","required":true,"description":"ID of the event","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"ID of the RSVP","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RsvpRequest"}}}},"responses":{"200":{"description":"The updated RSVP object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RsvpResponse"}}}},"403":{"description":"Member is not in this network or RSVP cannot be updated due to event settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"RSVP or member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid RSVP status or instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Delete an RSVP","operationId":"delete_rsvps","tags":["Rsvps"],"parameters":[{"name":"event_id","in":"path","required":true,"description":"ID of the event","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"ID of the RSVP","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"RSVP successfully deleted"},"404":{"description":"RSVP not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/custom_fields/{custom_field_id}/options":{"get":{"summary":"Return all options for a custom field","operationId":"list_options","tags":["Options"],"parameters":[{"name":"custom_field_id","in":"path","required":true,"description":"ID of the custom field","schema":{"type":"integer","format":"uint64"}},{"name":"term","in":"query","required":false,"description":"Search term to filter options by title","schema":{"type":"string"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of custom field option objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldOptionResponsePaged"}}}}}},"post":{"summary":"Create a new option for a custom field","operationId":"create_options","tags":["Options"],"parameters":[{"name":"custom_field_id","in":"path","required":true,"description":"ID of the custom field","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldOptionRequest"}}}},"responses":{"201":{"description":"The created custom field option object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldOptionResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/custom_fields/{custom_field_id}/options/{id}/":{"get":{"summary":"Return a single option by ID","operationId":"show_option","tags":["Options"],"parameters":[{"name":"custom_field_id","in":"path","required":true,"description":"ID of the custom field","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"ID of the option","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A custom field option object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldOptionResponse"}}}},"404":{"description":"Option not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"summary":"Update an option","operationId":"update_options","tags":["Options"],"parameters":[{"name":"custom_field_id","in":"path","required":true,"description":"ID of the custom field","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"ID of the option","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"description":"Request body for updating a custom field option","type":"object","properties":{"title":{"type":"string","description":"The title of the option","example":"Blue"},"description":{"type":"string","description":"Description of the option","example":"Select this if blue is your favorite color"}}}}}},"responses":{"200":{"description":"The updated custom field option object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldOptionResponse"}}}},"404":{"description":"Option not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"summary":"Update an option","operationId":"replace_options","tags":["Options"],"parameters":[{"name":"custom_field_id","in":"path","required":true,"description":"ID of the custom field","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"ID of the option","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldOptionUpdateRequest"}}}},"responses":{"200":{"description":"The updated custom field option object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldOptionResponse"}}}},"404":{"description":"Option not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Delete an option","operationId":"delete_options","tags":["Options"],"parameters":[{"name":"custom_field_id","in":"path","required":true,"description":"ID of the custom field","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"ID of the option","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Option deleted successfully"},"404":{"description":"Option not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/custom_fields/{custom_field_id}/members/{member_id}/answers":{"get":{"summary":"Return all responses for a member to a custom field","operationId":"list_answers","tags":["Answers"],"parameters":[{"name":"custom_field_id","in":"path","required":true,"description":"ID of the custom field","schema":{"type":"integer","format":"uint64"}},{"name":"member_id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of custom field answer objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldAnswerResponsePaged"}}}},"404":{"description":"Custom field or member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"summary":"Create or update a member's response to a custom field","operationId":"create_answers","tags":["Answers"],"parameters":[{"name":"custom_field_id","in":"path","required":true,"description":"ID of the custom field","schema":{"type":"integer","format":"uint64"}},{"name":"member_id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldAnswerRequest"}}}},"responses":{"200":{"description":"The custom field answer object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldAnswerResponse"}}}},"403":{"description":"You do not have permission to manage this member's responses","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Custom field or member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error (e.g., text length constraints, segment count, etc.)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Delete a member's response to a custom field","operationId":"delete_answers","tags":["Answers"],"parameters":[{"name":"custom_field_id","in":"path","required":true,"description":"ID of the custom field","schema":{"type":"integer","format":"uint64"}},{"name":"member_id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Response deleted successfully"},"403":{"description":"You do not have permission to manage this member's responses","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Custom field, member, or answer not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unsupported custom field type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/custom_fields/{custom_field_id}/members/{member_id}/answers/{id}/":{"get":{"summary":"Return a single response by ID","operationId":"show_answer","tags":["Answers"],"parameters":[{"name":"custom_field_id","in":"path","required":true,"description":"ID of the custom field","schema":{"type":"integer","format":"uint64"}},{"name":"member_id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"ID of the response","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A custom field answer object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldAnswerResponse"}}}},"404":{"description":"Custom field, member, or response not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/comments/{comment_id}/reactions":{"get":{"summary":"Returns a list of reactions for a specific comment","operationId":"list_reactions","tags":["Reactions"],"parameters":[{"name":"comment_id","in":"path","required":true,"description":"The ID of the comment","schema":{"type":"integer","format":"uint64"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of reaction objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReactionResponsePaged"}}}},"404":{"description":"Comment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"summary":"Create a new reaction on a comment","operationId":"create_reactions","tags":["Reactions"],"parameters":[{"name":"comment_id","in":"path","required":true,"description":"The ID of the comment","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReactionRequest"}}}},"responses":{"201":{"description":"Returns the newly created reaction on success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReactionResponse"}}}},"404":{"description":"Comment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid reaction data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Delete the reaction from a comment","operationId":"delete_reactions","tags":["Reactions"],"parameters":[{"name":"comment_id","in":"path","required":true,"description":"The ID of the comment","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Reaction successfully deleted"},"404":{"description":"Comment or reaction not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/tags":{"get":{"summary":"Return all tags for the network","operationId":"list_tags","tags":["Tags"],"parameters":[{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of tag objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagResponsePaged"}}}}}},"post":{"summary":"Create a new tag","operationId":"create_tags","tags":["Tags"],"parameters":[{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagRequest"}}}},"responses":{"201":{"description":"The created tag object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/tags/{id}/":{"get":{"summary":"Return a single tag by ID","operationId":"show_tag","tags":["Tags"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the tag","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A tag object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagResponse"}}}},"404":{"description":"Tag not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"summary":"Update a tag","operationId":"update_tags","tags":["Tags"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the tag","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"description":"Request to update a tag","type":"object","properties":{"title":{"type":"string","description":"The title of the tag","example":"VIP Member"},"description":{"type":"string","description":"The description of the tag","example":"Premium tier members"},"color":{"type":"string","description":"The hex color code for the tag","example":"#FF5733"}}}}}},"responses":{"200":{"description":"The updated tag object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagResponse"}}}},"404":{"description":"Tag not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"summary":"Update a tag","operationId":"replace_tags","tags":["Tags"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the tag","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagUpdateRequest"}}}},"responses":{"200":{"description":"The updated tag object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagResponse"}}}},"404":{"description":"Tag not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Delete a tag","operationId":"delete_tags","tags":["Tags"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the tag","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Tag deleted successfully"},"404":{"description":"Tag not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/subscriptions":{"get":{"summary":"List all payment subscriptions for the network","operationId":"list_subscriptions","tags":["Subscriptions"],"parameters":[{"name":"status","in":"query","required":false,"description":"Filter by status: 'canceled' for archived subscriptions","schema":{"type":"string"}},{"name":"member_id","in":"query","required":false,"description":"Filter by member (user) ID","schema":{"type":"integer","format":"uint64"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"Returns paginated list of subscriptions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionResponsePaged"}}}}}}},"/admin/v1/networks/{network_id}/subscriptions/{id}":{"get":{"summary":"Get details of a specific payment subscription","operationId":"show_subscription","tags":["Subscriptions"],"parameters":[{"name":"id","in":"path","required":true,"description":"Subscription ID","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"Returns the subscription details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionResponse"}}}},"404":{"description":"Subscription not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Cancel a payment subscription","operationId":"delete_subscriptions","tags":["Subscriptions"],"parameters":[{"name":"id","in":"path","required":true,"description":"Subscription ID","schema":{"type":"integer","format":"uint64"}},{"name":"when","in":"query","required":false,"description":"When to cancel: 'now' (immediate) or 'end_of_billing_cycle' (default: 'end_of_billing_cycle')","schema":{"type":"string"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"Returns the canceled subscription details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionResponse"}}}},"400":{"description":"Invalid 'when' parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Subscription not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Subscription is already canceled","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/spaces":{"get":{"summary":"Returns a list of spaces for the current network","operationId":"list_spaces","tags":["Spaces"],"parameters":[{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of spaces","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceResponsePaged"}}}}}},"post":{"summary":"Create a new space in the network","operationId":"create_spaces","tags":["Spaces"],"parameters":[{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceRequest"}}}},"responses":{"201":{"description":"Space successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error - space cannot be created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/spaces/{id}":{"get":{"summary":"Query details of a specific space by its ID","operationId":"show_space","tags":["Spaces"],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the space to fetch","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"Details about the requested space","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceResponse"}}}}}},"patch":{"summary":"Update a space by its ID","operationId":"update_spaces","tags":["Spaces"],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the space to update","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"description":"Request to update a space","type":"object","properties":{"name":{"type":"string","description":"The name of the space","example":"Updated Space Name"},"collection_id":{"type":"integer","format":"uint64","description":"The ID of the collection to move the space to","example":123}}}}}},"responses":{"200":{"description":"Space successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Space not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error - space cannot be updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"summary":"Update a space by its ID","operationId":"replace_spaces","tags":["Spaces"],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the space to update","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceUpdateRequest"}}}},"responses":{"200":{"description":"Space successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Space not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error - space cannot be updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Delete a space by its ID","operationId":"delete_spaces","tags":["Spaces"],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the space to delete","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Space successfully deleted"},"404":{"description":"Space not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error - space cannot be deleted due to business constraints","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/purchases":{"get":{"summary":"Return purchases and subscriptions for the given network","operationId":"list_purchases","tags":["Purchases"],"parameters":[{"name":"plan_id","in":"query","required":false,"description":"Filter by plan ID","schema":{"type":"integer","format":"uint64"}},{"name":"member_id","in":"query","required":false,"description":"Filter by member ID (user ID)","schema":{"type":"integer","format":"uint64"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of purchase objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseResponsePaged"}}}}}}},"/admin/v1/networks/{network_id}/purchases/{id}/":{"get":{"summary":"Return a single purchase by ID","operationId":"show_purchase","tags":["Purchases"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the purchase","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A purchase object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseResponse"}}}},"404":{"description":"Purchase not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Remove a member from a plan (revoke purchase access). Note: Cannot remove members from Apple In-App Purchases.","operationId":"delete_purchases","tags":["Purchases"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the purchase","schema":{"type":"integer","format":"uint64"}},{"name":"immediate","in":"query","required":false,"description":"Cancel immediately without grace period","schema":{"type":"boolean"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"Successfully removed member from plan","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseResponse"}}}},"404":{"description":"Purchase not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Cannot remove member from plan","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/posts":{"get":{"summary":"Returns a list of posts for the current network","operationId":"list_posts","tags":["Posts"],"parameters":[{"name":"space_id","in":"query","required":false,"description":"Filter posts by space ID","schema":{"type":"integer","format":"uint64"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of posts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostResponsePaged"}}}}}},"post":{"summary":"Create a new post, and optionally notify the network","operationId":"create_posts","tags":["Posts"],"parameters":[{"name":"notify","in":"query","required":false,"description":"Whether or not to notify the network","schema":{"type":"boolean"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostRequest"}}}},"responses":{"201":{"description":"Returns the newly created post on success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostResponse"}}}},"404":{"description":"Space not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid post data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/posts/{id}/":{"get":{"summary":"Query details of a specific post by its ID","operationId":"show_post","tags":["Posts"],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the post to fetch","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"Details about the requested post","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostResponse"}}}},"404":{"description":"Post not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"summary":"Update an existing post or article","operationId":"update_posts","tags":["Posts"],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the post to update","schema":{"type":"integer","format":"uint64"}},{"name":"notify","in":"query","required":false,"description":"Whether or not to notify the network","schema":{"type":"boolean"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"description":"Request to update a post or article","type":"object","properties":{"title":{"type":"string","description":"The title of the post"},"description":{"type":"string","description":"The description/body content of the post"}}}}}},"responses":{"200":{"description":"Returns the updated post on success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostResponse"}}}},"404":{"description":"Post not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid post data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"summary":"Update an existing post or article","operationId":"replace_posts","tags":["Posts"],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the post to update","schema":{"type":"integer","format":"uint64"}},{"name":"notify","in":"query","required":false,"description":"Whether or not to notify the network","schema":{"type":"boolean"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostUpdateRequest"}}}},"responses":{"200":{"description":"Returns the updated post on success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostResponse"}}}},"404":{"description":"Post not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid post data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Delete a post or article","operationId":"delete_posts","tags":["Posts"],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the post to delete","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Post successfully deleted"},"404":{"description":"Post not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/polls":{"get":{"summary":"Returns a paginated list of polls and questions in the network","operationId":"list_polls","tags":["Polls"],"parameters":[{"name":"space_id","in":"query","required":false,"description":"Filter polls by space ID","schema":{"type":"integer","format":"uint64"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"Returns a paginated list of polls and questions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PollResponsePaged"}}}}}},"post":{"summary":"Creates a new poll or question in the network","operationId":"create_polls","tags":["Polls"],"parameters":[{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PollRequest"}}}},"responses":{"201":{"description":"Returns the created poll or question","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PollResponse"}}}},"404":{"description":"Space not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/polls/{id}/":{"get":{"summary":"Returns details of a specific poll or question","operationId":"show_poll","tags":["Polls"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the poll or question","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"Returns the poll or question details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PollResponse"}}}},"404":{"description":"Poll or question not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"summary":"Updates a poll or question","operationId":"update_polls","tags":["Polls"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the poll or question","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"description":"Request to update a poll or question","type":"object","properties":{"title":{"type":"string","description":"The poll question/title"},"description":{"type":"string","description":"Additional details or context for the poll"}}}}}},"responses":{"200":{"description":"Returns the updated poll or question","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PollResponse"}}}},"404":{"description":"Poll or question not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"summary":"Updates a poll or question","operationId":"replace_polls","tags":["Polls"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the poll or question","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PollUpdateRequest"}}}},"responses":{"200":{"description":"Returns the updated poll or question","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PollResponse"}}}},"404":{"description":"Poll or question not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Deletes a poll or question","operationId":"delete_polls","tags":["Polls"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the poll or question","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Poll or question successfully deleted"},"404":{"description":"Poll or question not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/plans":{"get":{"summary":"Return all plans in the network","operationId":"list_plans","tags":["Plans"],"parameters":[{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of plan objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanResponsePaged"}}}}}}},"/admin/v1/networks/{network_id}/plans/{id}/":{"get":{"summary":"Return a single plan by ID","operationId":"show_plan","tags":["Plans"],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the plan to retrieve","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A plan object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanResponse"}}}},"404":{"description":"Plan not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Archive a plan. This will cancel all associated subscriptions and revoke access.","operationId":"delete_plans","tags":["Plans"],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the plan to archive","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Plan successfully archived"},"404":{"description":"Plan not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Cannot archive plan (may contain active Apple products)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/plans/{plan_id}/members/{id}/":{"delete":{"summary":"Remove a member from a plan by canceling their subscription or purchase","operationId":"delete_plans","tags":["Plans"],"parameters":[{"name":"plan_id","in":"path","required":true,"description":"The ID of the plan","schema":{"type":"integer","format":"uint64"}},{"name":"id","in":"path","required":true,"description":"The ID of the member (user) to remove","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Successfully removed member from plan"},"404":{"description":"Plan or member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unable to remove member (may not have access to this plan)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/":{"get":{"summary":"Returns details of the Network - must match the Network owning the requesting API key","operationId":"show_network","tags":["Networks"],"parameters":[{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"Returns the Networks attributes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkResponse"}}}}}}},"/admin/v1/networks/{network_id}/members":{"get":{"summary":"Return members of the given network","operationId":"list_members","tags":["Members"],"parameters":[{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of member objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponsePaged"}}}}}},"post":{"summary":"Create a new member in the network","operationId":"create_members","tags":["Members"],"parameters":[{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberCreateRequest"}}}},"responses":{"201":{"description":"The newly created member object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"422":{"description":"Validation error (e.g., invalid role, invalid member_type, unknown space, user already a member)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/members/{id}/":{"get":{"summary":"Return a single member by ID","operationId":"show_member","tags":["Members"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A member object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"404":{"description":"Member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"summary":"Update a member's role in the network","operationId":"update_members","tags":["Members"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"description":"Request body for updating a member's role and profile information","type":"object","properties":{"role":{"type":"string","description":"New role for the member (host, moderator, contributor)","example":"moderator"},"email":{"type":"string","format":"email","description":"New email address for the member","example":"newemail@example.com"},"first_name":{"type":"string","description":"New first name for the member","example":"Jane"},"last_name":{"type":"string","description":"New last name for the member","example":"Smith"}}}}}},"responses":{"200":{"description":"The updated member object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"404":{"description":"Member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid role value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"summary":"Update a member's role in the network","operationId":"replace_members","tags":["Members"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberUpdateRequest"}}}},"responses":{"200":{"description":"The updated member object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"404":{"description":"Member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid role value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"summary":"Delete a member's account (soft delete)","operationId":"delete_members","tags":["Members"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Member successfully deleted"},"404":{"description":"Member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Member cannot be deleted (e.g., owns spaces that cannot be deleted)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/members/by_email":{"get":{"summary":"Return a single member by email address","operationId":"show_member","tags":["Members"],"parameters":[{"name":"email","in":"query","required":true,"description":"Email address of the member","schema":{"type":"string","format":"email"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A member object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"404":{"description":"Member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/members/{id}/network_membership":{"delete":{"summary":"Remove a member from the network (can rejoin)","operationId":"delete_members","tags":["Members"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the member","schema":{"type":"integer","format":"uint64"}},{"name":"cancel_plans","in":"query","required":false,"description":"Whether to also cancel the member's purchased plans","schema":{"type":"boolean"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Member successfully removed from network"},"404":{"description":"Member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/me":{"get":{"summary":"Return information about the authenticated access token","operationId":"show_me","tags":["Me"],"parameters":[{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"Returns a description of the currently authenticated user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeResponse"}}}}}}},"/admin/v1/networks/{network_id}/invites":{"get":{"summary":"Returns a list of invitations for the current network","operationId":"list_invites","tags":["Invites"],"parameters":[{"name":"email","in":"query","required":false,"description":"Filter invites by recipient email address","schema":{"type":"string"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"A paginated set of invites","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteResponsePaged"}}}}}},"post":{"summary":"Create a new invite and send an email to the intended recipient","operationId":"create_invites","tags":["Invites"],"parameters":[{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteRequest"}}}},"responses":{"200":{"description":"Returns the newly created invite on success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteResponse"}}}},"422":{"description":"Validation error (e.g., invalid email, user already invited)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/invites/{id}/":{"patch":{"summary":"Update an invite","operationId":"update_invites","tags":["Invites"],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the invite to update","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"description":"Invites allow users and admins to invite new users to the network","type":"object","properties":{"recipient_email":{"type":"string","description":"The recipients email address","example":"claude@example.com"},"recipient_first_name":{"type":"string","description":"The recipient's first name","example":"Claude"},"recipient_last_name":{"type":"string","description":"The recipient's last name","example":"Monet"},"user_id":{"type":"integer","format":"uint64","description":"The ID of the user to record as the creator of the invite.\n\nIf not provided, defaults to the owner of the authored API key.\n"}}}}}},"responses":{"200":{"description":"Updates an invite and returns its new state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteResponse"}}}}}},"put":{"summary":"Update an invite","operationId":"replace_invites","tags":["Invites"],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the invite to update","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteRequest"}}}},"responses":{"200":{"description":"Updates an invite and returns its new state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteResponse"}}}}}},"delete":{"summary":"Delete an unaccepted invite","operationId":"delete_invites","tags":["Invites"],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the invite to update","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"204":{"description":"Returns a 204 No-Content on success, with no response body"},"404":{"description":"Invite not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Returns a 409 Conflict when the invite has already been accepted.\n\nTo revoke access to an invited member, use the Membership API\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/events":{"get":{"summary":"Returns a paginated list of events in the network","operationId":"list_events","tags":["Events"],"parameters":[{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","format":"uint64"}},{"name":"per_page","in":"query","required":false,"description":"Items per page (max 100)","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"Returns a paginated list of events","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventResponsePaged"}}}}}},"post":{"summary":"Creates a new event in the network","operationId":"create_events","tags":["Events"],"parameters":[{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventCreateRequest"}}}},"responses":{"200":{"description":"Returns the created event","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/admin/v1/networks/{network_id}/events/{id}/":{"get":{"summary":"Returns details of a specific event","operationId":"show_event","tags":["Events"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the event","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"responses":{"200":{"description":"Returns the event details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventResponse"}}}},"404":{"description":"Event not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"summary":"Updates an existing event","operationId":"update_events","tags":["Events"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID of the event","schema":{"type":"integer","format":"uint64"}},{"$ref":"#/components/parameters/networkId"}],"requestBody":{"description":"Submit results as JSON","required":true,"content":{"application/json":{"schema":{"description":"Request body for updating an event","type":"object","properties":{"title":{"type":"string","description":"The event title","example":"Monthly Community Meetup"},"description":{"type":"string","description":"The event description","example":"Join us for our monthly community meetup"},"link":{"type":"string","description":"External event link URL","example":"https://zoom.us/j/123456789"},"starts_at":{"type":"string","format":"date-time","description":"The date and time the event starts (ISO8601 format)","example":"2025-01-15T14:00:00Z"},"ends_at":{"type":"string","format":"date-time","description":"The date and time the event ends (ISO8601 format)","example":"2025-01-15T16:00:00Z"},"event_type":{"type":"string","description":"Type of event: 'online_meeting', 'local_meetup', etc.","example":"online_meeting"},"location":{"type":"string","description":"Physical location of the event","example":"San Francisco, CA"},"time_zone":{"type":"string","description":"IANA timezone identifier for the event","example":"America/Los_Angeles"},"rsvp_enabled":{"type":"boolean","description":"Whether RSVPs are enabled (default: true)","example":true},"rsvp_closed":{"type":"boolean","description":"Whether RSVPs are closed (default: false)"},"restricted_event":{"type":"boolean","description":"Whether event is restricted to specific members (default: false)"},"post_in_feed":{"type":"boolean","description":"Whether event appears in the activity feed (default: true)","example":true},"frequency":{"type":"string","description":"Recurrence frequency: 'daily', 'weekly', 'monthly', or 'yearly'","example":"weekly"},"interval":{"type":"integer","format"
[...]
